@import 'partials/setup';
@import 'partials/typography';
@import 'partials/variables';
// @import 'partials/fullPage';

html{
	font-size: 62.5%;
}

body{
	font-size:1.8rem;
	font-family: $bodyFont;
}

h1, h2, h3, h4{
	font-family: $titleFont;
	color:$mainIdentityColor;
}