@import 'partials/setup';
@import 'partials/typography';
@import 'partials/variables';
// @import 'partials/fullPage';

html{
	font-size: 62.5%;
}

body{
	font-size:1.8rem;
	font-family: $bodyFont;
}

.wrapper {
	// height: 95%;
	width: 90%;


}

header, section {
	height: 100vh;
}

header {
	background-image: url(../../assets/mainHero.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

h1, h2, h3, h4{
	font-family: $titleFont;
	color:$mainIdentityColor;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	font-size: 175px;
}

h2 {
	text-align: center;
	font-size: 40px;
	color: white;
}

h3, h4{
	font-size: 1.8rem;
}

p{
	margin: 0;	
	padding: 0;
}

i {
	color: white;
	font-size: 40px;
}

p.trName{
	font-weight:bold;
}

.textbox {
	position: relative;
	padding-top: 10%;



.niceborder1 {
	border: 5px solid $alternateIdentityColor;
	border-radius: 40px;
	// position: absolute;
	// top: 50%;
	// left: 40%;
}

.niceborder2 {
	border: 5px solid white;
	border-radius: 40px;
	// position: absolute;
	// top: 60%;
	// left: 50%;
}

.formContainer {
	border: 2px solid black;
	text-align: center;
	height: 80%;
}

.firstSearchBox, .secondSearchBox {
	border: 1px solid black;
	float: left;
}

.userInput h2 {
	font-size: 80px;
	font-family: $titleFont;
	text-align: center;
	color: $mainIdentityColor;
}

.submitButton {

}
  
.songGallery{
	list-style-type: none;
	padding: 0;
	li{
	display: inline-block;
	}
	img{
		width: 100%;
		max-width:50px;
	}
}

.modal {
	background-color: red;
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 70%;
	height: 50%;
	overflow: auto;
}

.modalDisplay {
	display: block;
}

section.results .wrapper {
	position: relative;
}