@import 'partials/setup';
@import 'partials/typography';
@import 'partials/variables';
// @import 'partials/fullPage';

html{
	font-size: 62.5%;
}

body{
	font-size:1.8rem;
	font-family: $bodyFont;
}

h1, h2, h3, h4{
	font-family: $titleFont;
	color:$mainIdentityColor;
	margin: 0;
	padding: 0;
}

h2{
	font-size: 2rem;
}

h3, h4{
	font-size: 1.8rem
}

.songGallery{
	display: inline-block;
	list-style-type: none;
	padding: 0;
	img{
		width: 100%;
		max-width:50px;
	}
}

.modal {
	background-color: red;
	display: none;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 70%;
	height: 50%;
	overflow: auto;
}

.modalDisplay {
	display: block;
}

section.results .wrapper {
	position: relative;
}
