header {
	background-image: url(../../assets/mainHero.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

svg {
	fill: $mainIdentityColor;
	width: 100px;
	height: 100px;
	position: fixed;
	top: 10px;
	left: 0;
	z-index: 10;
}

.box1 {
	display: inline-block;
	border: 5px solid $alternateIdentityColor;
	border-radius: 10px;
	height: 70%;
	margin-top: 10%;
	margin-left: -2.5%;
	h1{
		@media (max-width: 480px){
			text-shadow:2px 2px 10px #000;
		}
	}
	h2 {
		@media (max-width: 768px){
			color:$mainIdentityColor;
			text-shadow:2px 2px 10px #000;
		}
		@media (max-width: 480px){
			text-shadow:2px 2px 10px #000;
		}
	}
}

.box2 {
	height: 100%;
	width: 100%;
	position: relative;
	&:after {
		content: '';
		display: inherit;
		border: 5px solid white;
		border-radius: 10px;
		width: inherit;
		height: inherit;
		position: absolute;
		top: 50px;
		left: 50px;
		@media (max-width: 768px){
			top:25px;
			left:25px;
		}
		@media (max-width: 480px){
			top:15px;
			left:15px;
		}
	}
}

.iconHolder {	
	text-align: center;
	@media (max-width: 768px){
		margin:0 auto;
		margin-top: 200px;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		border: 1px solid #fff;
	}
	@media (max-width: 480px){
		margin-top: 150px;
	}
}

.fa-angle-down{
	color: white;
	cursor: pointer;
	margin-top: 8%;
	text-align: center;



