@font-face {
    font-family: 'IcoFont';
    src: url('../../../vendors/fonts/icofonts/icofont.eot') format("eot");
    src: url('../../../vendors/fonts/icofonts/icofont.ttf') format('truetype');
    src: url('../../../vendors/fonts/icofont.woff')

}

.icofont-tick-boxed:before {
	content: "\f0f3";
}

.icofont-exclamation-square:before {
	content: "\efeb";
}