.inputResults .wrapper * {
	z-index: 1;
	position: relative;
}

.inputResults {
	background-image: url(../../../assets/playlistImage.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: -1;
	padding: 0;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.3);
		z-index: 0;
	}
	h2 {
		font-size: 80px;
		font-family: $titleFont;
		text-align: center;
		color: $mainIdentityColor;
	}
	.resultsWrapper {
		border: 5px solid $alternateIdentityColor;
		border-radius: 10px;
		background-color: rgba(56, 55, 55, 0.25);
		.trName {
			font-family: $bodyFont;
			font-size: 22px;
			color: $alternateIdentityColor;
			line-height: 1.5;
		}
		.arName {
			font-family: $bodyFont;
			font-size: 18px;
			color: $alternateIdentityColor;
			line-height: 1.5;
		}
		.alName {
			font-family: $bodyFont;
			font-size: 16px;
			font-style: italic;
			color: $secondaryIdentityColor;
			line-height: 1.5;
		}
	}
}

.inputResults .wrapper *

.songGallery{
	list-style-type: none;
	padding: 0;
	.galleryUnit {
		display: inline-block;
		width: calc(20% - (80px / 5 ));
		height: 190px;
		margin-right: 20px;
		margin-bottom: 20px;
		text-align: center;
		overflow: hidden;
	}
	.galleryUnit:nth-of-type(5n) {
		margin-right: 0;
	}
	.trName {
		height: 25px;
		overflow: hidden;
		font-weight:bold;
	}
	img {
		width: 100%;
		max-width: 50px;
	}
}