.firebasePlaylist{
	position: relative;
	background: url(../../assets/jeff-sheldon-3225.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: 0f;
	}
	h2{
		color:$mainIdentityColor;
	}
}

.firebasePlaylist * {
	position: relative;
	z-index: 1;
}

.fa-music{
	padding: 0 2% 0 4%;
	color: $mainIdentityColor; 
}

.safePlayList{
	list-style:none;
	padding: 0;
	border: 3px solid $alternateIdentityColor; /*$alternateIdentityColor*/
	border-radius: 10px;
	background: rgba(255,255,255,0.3);
	padding: 4%;
	color: #fff;
	text-align: left;
	 .trName, .arName, {
		font-size: 1.4rem;
		letter-spacing: .1rem;
	}
	.alName, .arName{
		position: relative;
		padding: 0 4%;
		&::before, {
			position: absolute;
			content: "|";
			color:#fff;
			left: 1%;
		}
	}
	.trName{
		font-weight: 700;
		font-style:italic;
		margin-right: 1%;
	}
	.trName{
		width: 20%;
	}
	.arName{
		width: 30%;
	}
	.alName{
		width: 40%;
		font-size: 1.4rem;
	}
}

.safePlayList li p, .safePlayList li i, .safePlayList button {
	display: inline-block;
}

.safePlayList li{
	position: relative;
	padding: 1%;
	border: 3px solid $alternateIdentityColor; 
	border-radius: 10px;
	margin-bottom: 5px;
	background-color: $secondaryIdentityColor;
}
.removeButton{
	position: absolute;
	font-family: $bodyFont; 
	font-weight: 700;
	line-height: 1rem;
	width: 20px;
	height: 20px;
	right: 2%;
	top:50%;
	transform: translateY(-50%);
	border-style: none;
	border-radius: 5px;
	background-color: $mainIdentityColor; 
	color:#fff;
	margin-top: 0;
	padding: 0;
}

footer{
	margin-top: 50%;
	position: absolute;
	bottom: 0;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	color:#fff;
	a{
		color: $mainIdentityColor;
		text-decoration: none;
		&:hover{
			color:$secondaryIdentityColor;
		}
	}
}