.firebasePlaylist{
	position: relative;
	background: url(../../assets/jeff-sheldon-3225.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.3);
		z-index: 0;
	}
	h2{
		color:$mainIdentityColor;
	}
}

.firebasePlaylist * {
	position: relative;
	z-index: 1;
}

.fa-music{
	padding-left:4%;
	color: $mainIdentityColor; 
}

.safePlayList{
	list-style:none;
	padding: 0;
	border: 3px solid $alternateIdentityColor; /*$alternateIdentityColor*/
	border-radius: 10px;
	background: rgba(255,255,255,0.3);
	padding: 4%;
	.alName, .arName{
		position: relative;
		padding: 0 4%;
		&::before, {
			position: absolute;
			content: "|";
			color:#fff;
			left: 2%;
		}
	}
}

.safePlayList li p, .safePlayList li i, .safePlayList button {
	display: inline-block;
	text-align: center;
}

.safePlayList li{
	position: relative;
	padding: 2%;
	border: 3px solid #004E7B; /*$alternateIdentityColor*/
	border-radius: 10px;
	margin-bottom: 5px;
	background-color: rgb(101,197,223);
}

.alName, .arName, .trName{
	color: #fff;
	letter-spacing: .1rem;
}

.trName{
	font-weight: 700;
	font-style:italic;
}

.removeButton{
	position: absolute;
	font-family: $bodyFont; 
	font-weight: 700;
	line-height: 1rem;
	width: 20px;
	height: 20px;
	right: 2%;
	top:50%;
	transform: translateY(-50%);
	border-style: none;
	border-radius: 5px;
	background-color: $mainIdentityColor; 
	color:#fff;
	margin-top: 0;
}

footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}