// RESULTS
// .resultsFilter * {
// 	position: relative;
// 	z-index: 1;
// }

.resultsFilter {
	background-image: url(../../../assets/lukas-budimaier-83358.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	// position: relative;
	// z-index: -1;
	// &:after {
	// 	content: '';
	// 	position: absolute;
	// 	top: 0;
	// 	bottom: 0;
	// 	left: 0;
	// 	right: 0;
	// 	background-color: rgba(0, 0, 0, 0.25);
	// 	z-index: 0;
	// }
}

.modal {
	display: none;
	text-align: center;
	.resultsButton {
		display: inline-block;
	}
}

.infoBox {
	position: relative;
	background-color: rgba(255,255,255,0.25);
	border: 5px solid $secondaryIdentityColor;
	padding: 40px 60px;
	h2{
		position: absolute;
		left: 20px;
		top:50%;
		transform: translateY(-50%);
		color:$mainIdentityColor;
	}
	.resultsMessage{
		display: inline-block;
		color:#fff;
		text-align: left;
	}
	.fa-check-square-o,{
		position: absolute;
		right: 20px;
		top:50%;
		transform: translateY(-50%);
		color:palegreen;
		font-size: 5rem;
	}
}

.fa.fa-window-close{
		position: absolute;
		font-size: 5rem;
		right: 20px;
		top:50%;
		transform: translateY(-50%);
		color:rgba(178,34,34,.8);
	}


.modalDisplay {
	display: block;
}

section.results .wrapper {
	position: relative;
}