.userInput .wrapper * {
	z-index: 1;
	position: relative;
}

.userInput {
	background-image: url(../../assets/searchImage.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.25);
		z-index: -1;
	}
}

.formContainer {
	border: 5px solid $alternateIdentityColor;
	border-radius: 10px;
	text-align: center;
	margin-bottom: 5%;
    padding: 30px;
	@media (max-width: 768px) {
		border: 0 solid $alternateIdentityColor;
		margin-bottom: 10px;
		text-align: center;
		padding: 20px;
	}
}

.firstSearchBox, .secondSearchBox {
	float: left;
	display: inline-block;
	width: calc(50% - 25px);
	padding: 40px 50px;
	border: 5px solid $alternateIdentityColor;
	border-radius: 10px;
	background-color: rgba(255,255,255, 0.25);
	height: 250px;
	@media (max-width: 768px) {
		width: 95%;
		margin-bottom: 20px;
	}
	input {
		padding: 10px;
		color: $alternateIdentityColor;
		border: 2px solid $secondaryIdentityColor;
		border-radius: 5px;
		width: 90%;
		@media (max-width: 768px) {
			font-size: 1.4rem;
		}
		&:focus {
			outline: none;
		}
	}
	label {
		color: $mainIdentityColor; 
	}
}

.firstSearchBox {
	margin-right: 50px;
	@media (max-width: 768px) {
		margin-right: 0;
	}
}

.secondSearchBox {
  padding-top: 6.5%;
	@media (max-width: 768px) {
		height: auto;
	}

}

.inputBox {
	margin-bottom: 20px;
}

.userInput h2 {
	font-size: 80px;
	font-family: $titleFont;
	text-align: center;
	color: $mainIdentityColor;
}

.buttonHolder {
	width: 100%;
	clear: both;
}

.subBox1 {
	background-color: transparent;
	display: inline-block;
	margin-top: 40px;
	padding: 25px 40px;
	border: 3px solid $alternateIdentityColor;
	border-radius: 10px;
	font-size: 16px;
	color: white;
	text-transform: uppercase;
	transition: all 1.5s;
	@media (max-width: 768px) {
		margin-top: 15px;
		padding: 15px 30px;
	}
	&:hover {
		background-color: $alternateIdentityColor;
	}
	&:active {
		border: none;
	}