$bodyFont: 'Roboto', sans-serif;
$titleFont: 'Oswald', sans-serif;

$mainIdentityColor:#F0C31A; //yellow
$secondaryIdentityColor:#65C5DF; //pale blue
$alternateIdentityColor:#004E7B; //dark blue

$whiteContrast:#fff;
$darkContrast:#333;
